<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/feed.css">
    <title>Document</title>
</head>
<body>
    <body>
        <nav>
         <div class="logo">
           <h5>LOGO</h5>
             
         </div>
         <ul class="navLink">
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Projects</a></li>
         </ul>
         <div class="lines">
             <div class="l1"></div>
             <div class="l2"></div>
             <div class="l3"></div>
         </div>
       </nav>
   
   <header>
    
   </header> 
   
     
   <div class="container">
         
     
         
         
     <div class="box">
                   <a href="https://plus.unsplash.com/premium_photo-1681276170598-8ad7feaf918e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://plus.unsplash.com/premium_photo-1681276170598-8ad7feaf918e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
    
       
         
   <div class="box">
                   <a href="https://plus.unsplash.com/premium_photo-1678116565548-2e1b7734588b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2OXx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://plus.unsplash.com/premium_photo-1678116565548-2e1b7734588b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2OXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1713113667968-550b5a40eee6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4Mnx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1713113667968-550b5a40eee6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4Mnx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1713481007787-eb1edc9873fa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDN8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1713481007787-eb1edc9873fa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDN8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1713190193924-8bd93c729b6b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMTV8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1713190193924-8bd93c729b6b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMTV8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1711968558629-6f3f1d39fc30?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjB8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1711968558629-6f3f1d39fc30?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjB8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1713056941757-c5897c0056aa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNzl8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1713056941757-c5897c0056aa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNzl8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div>
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1713145872507-3ca2c884ecc2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDB8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1713145872507-3ca2c884ecc2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDB8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1710101749861-aef7c032d24d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDd8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1710101749861-aef7c032d24d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDd8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
    <div class="box">
                   <a href="https://images.unsplash.com/photo-1712884504011-a1ebe9960938?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMzl8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1712884504011-a1ebe9960938?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMzl8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://plus.unsplash.com/premium_photo-1706727287024-3d6c677819ee?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://plus.unsplash.com/premium_photo-1706727287024-3d6c677819ee?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1713127686686-7d8892fff7f5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNjN8fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1713127686686-7d8892fff7f5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNjN8fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
          
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="" >
                   <img src="" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div>
   
   </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
   </body>
</body>
</html>